<!DOCTYPE html>
<html>
<head>
<style>
form * {
  display: block;
  margin: 10px;
}
textarea{
  overflow-y: scroll; /* Vertical scrollbar */
  overflow: scroll; /* Horizontal and vertical scrollbar*/
}
</style>
</head>
<body>

<script language="Javascript" >
const url = 'http://127.0.0.1:5000/api/'

function postSentence(str){
    <!-- Add to the existing textarea -->
    addText(str, 'You')

    <!-- Remove -->
    removeUserInput()

    <!-- get bot response -->
    getBotResponse(str)
}

function addText(str, who){
    <!-- Add new sentence to the exiting textarea -->
    document.getElementById('textarea').value =
    document.getElementById('textarea').value
    + '\n\n'
    + who + ': '
    + str

    <!-- Always put scroll at the bottom -->
    putScrollToBottom()
}

function removeUserInput(){
    document.getElementById('userInput').value = ""
}

function getBotResponse(str){
    postData(url, str)
        .then(res => res.text())
        .then(data => addText(data, 'Bot'))
        .catch(res => {
            addText(res, 'Bot');
        });
}
<!--https://stackoverflow.com/a/38296817/9449085-->
<!--https://alfilatov.com/posts/run-chrome-without-cors/-->

function postData(url = '', data = '') {
  const response = fetch(url, {
    method: 'POST',
    headers: {'content-type': 'text/plain',
              'Accept-Charset': 'UTF-8'},
    body: data,
    mode: 'no-cors',
    credentials: 'include'
  });
  return response;
}

function putScrollToBottom(){
    var textarea = document.getElementById('textarea');
    textarea.scrollTop = textarea.scrollHeight;
}

</script>


<!--Show chat history-->
<textarea id="textarea" rows="20" cols="40">
Bot: How can I help you?</textarea>

<!--Submit new sentence-->
<br>
<textarea id="userInput" rows="1" cols="40"
          name="userInput"></textarea>
<button type="submit"
        onclick="postSentence(document.getElementById('userInput').value)">Submit</button>

</body>
</html>